<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Stations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <a id="logo" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='Images/logo.png') }}" alt="Logo">
            <span>Température</span>
        </a>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Accueil</a></li>
                <li><a href="{{ url_for('choice') }}">Recherche des données</a></li>
                <li><a href="{{ url_for('carte') }}">Carte</a></li>
            </ul>
        </nav>
    </header>
    <main class="station-choice">
        <h1>Stations pour {{ choice }} : {{ name }}</h1>
        <form method="POST" action="{{ url_for('station_chroniques') }}">
            <table>
                <thead>
                    <tr>
                        <th>Nom de la Station</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for station in stations %}
                    <tr>
                        <td>{{ station[1] }}</td>
                        <td>
                            <button type="submit" name="station" value="{{ station[0] }}">Voir les données chroniques</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="hidden" name="choice" value="{{ choice }}">
            <input type="hidden" name="name" value="{{ name }}">
        </form>
    </main>
    <footer>
        <img src="{{ url_for('static', filename='images/iut-logo.png') }}" alt="Logo footer">
        <span>RABONARSON - DURANDEAU - YAABBA - LAM<br>Copyright © 2024</span>
    </footer>
</body>
</html>
